# =========================
# Secrets
# =========================
.env
**/.env
*.pem
*.key

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.venv/
venv/

# =========================
# Node
# =========================
FrontEnd/node_modules/
FrontEnd/dist/

# =========================
# Runtime data
# =========================
BackEnd/users_db.json

# =========================
# IDE / OS
# =========================
.vscode/
.DS_Store
Thumbs.db